
.aboutWrapper{
  margin: 2em 0em;
}
.aboutWrapper h3{
  
}
.aboutContainer{
  display: flex;
  padding: 1em;
  background: ;
  flex-direction: column;
}
.aboutMe{
  padding-left: 1em;
}
.aboutMe p{
  text-align: left;
}
.aboutImg{
  margin: 0px auto;
}
.aboutImg img{
  width: 7em;
  height: 7em;
}

/*--------------Responsive css -----------*/
@media(min-width:415px){
.aboutContainer{
  width: 70%;
  margin: 0px auto;
  flex-direction: row;
  background: ;
}
.aboutMe{
  width: 70%;
}

}