
.bannerWrapper{
  height: auto;
  padding: 5em 0em;
  width: 100vw !important;
  color: ;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: ;
  
  /*background: var(--secondary-color);*/
}

.bannerTitle{
  width: 80%;
  color: ;
  font-weight: 400;
}

.bannerTitle h2{
  font-size: 2em;
  color: var(--secondary-color);
}

.bannerTitle p{
  margin: 1em 0em;
  font-size: 1.2em;
}


.bannerImg{
  display: none;
}

.bannerImg img{
  width: 20em;
  height: 20em;
  border-radius: 50%;
}

.btn-downloadCv{
  margin-top: 2em;
  padding: 0em;
  font-size: 15px;
  font-weight: 600;
  background: none;
  border: 0px solid red;
}

.btn-downloadCv a{
  background: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color);
  color: #FFFFFF;
  border-radius: 6px;
  padding: 0.7em;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
}

.btn-downloadCv a:hover{
  box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
}



/*###### Media query ✅#####*/

@media(min-width:765px){
.bannerWrapper{
  height: 40vh !important;
  display: flex;
  flex-direction: row;
  padding-top:40em;
}
.bannerTitle{
  width: 45%;
}

.bannerImg{
  display: block;
}

}
