
.bannerWrapper{
  height: 80vh;
  width: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #3C3A4F;
}
.bannerTitle{
  width: 80%;
}
.bannerTitle h2{
  font-size: 2em;
}
.bannerTitle p{
  margin: 1em 0em;
}

.bannerImg{
  display: none;
}
.bannerImg img{
  width: 75%;
  height: 75%;
}



@media(min-width:415px){
.bannerWrapper{
  height: 60vh !important;
  display: flex;
  flex-direction: row;
}
.bannerImg{
  display: block;
}

}