
.projectsWrapper{
  width: 100%;
  margin: 7em 0em !important;
  padding: 1em 0em;
}
.projectsContainer{
  padding: 1em;
  background: ;
  display: grid ;
  grid-gap: 2em;
  grid-template-columns: auto;
}

.projectBox{
  border-bottom: 1px solid var(--cyan);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.16);
}
.projectBox__thumbnail{
  width: 100%;
  height: 16em;
}
.projectBox__thumbnail img{
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  border-radius: 7px;
}
.projectBox__title{
  padding-top: 0.7em;
}
.projectBox__status{
  padding-bottom: 0.7em;
  
}

/*-------Responsive style----------*/
@media(min-width:415px){
.projectsContainer{
  
}
.projectBox{
 
}

}

@media(min-width:750px){
.projectsContainer{
  grid-template-columns: auto auto;
}

}

@media(min-width:980px){
.projectsContainer{
  grid-template-columns: auto auto auto;
}

}