
.projectsWrapper{
  margin: 7em 0em;
  color: var(--dark);
}

.projectsContainer{
  padding: 0em;
  display: grid ;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
}
.projectBox__status{
  padding-bottom: 0.7em;
  
}

.projectInfo_box{
  margin-bottom: -1em;
  padding: 0.5em 0em;
  display: flex;
  width: 50%;
}
.projectInfo_box button {
/*  border: 1px solid #5B61E2;
  color: #5B61E2;*/
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 12px !important;
  font-weight: 444;
  background: none;
}
.projectInfo_box button:hover {
  background: none;
  color: #5B61E2;
}



.more_projects{
  text-align: right;
}
.more_projects a{
  font-weight: 490;
  font-size: 0.9em;
  margin-right: 9px;
  border-radius: 4em;
  color: var(--secondary-color) !important;
  /*border: 1px solid var(--secondary-color);*/
}
.more_projects a i{
  margin-left: 2px;
}

/*-------Responsive style----------*//*
@media(min-width:415px){
.projectsContainer{
  
}
.projectBox{
 
}

}

@media(min-width:750px){
.projectsContainer{
  grid-template-columns: auto auto;
}

}

@media(min-width:980px){
.projectsContainer{
  grid-template-columns: auto auto auto;
}

}*/