.reviewsWrapper{
 padding: 2em 0em;
 margin: 2em 0em;
 color: ;
}
.reviewsWrapper h3{
  
}
.reviewsContainer{
  width: 100%;
  padding-top:1em;
  padding-bottom:2em;
  background: ;
  border-radius: 7px;
  /*border-top: 1px solid #1A1B40;
  border-bottom: 1px solid #1A1B40;*/
}

.reviewBox{
  padding: 1em 0em;
}

.reviewImg{
  width: 4em;
  height: 4em;
  background: ;
  margin: 0px auto;
}
.reviewImg img{
  border-radius: 50%;
  margin: 0px auto;
  width: 100%;
  height: 100%;
}
.fiveStar{
  margin-top: 1em;
  color:  #3FBDF2;
}

.caption h3{
  margin-top: -0.7em;
}
.review{
  
}




/*---------Responsive Style ---------------*/
@media (min-width:415px){
  
}