.skillsWrapper{
  background: ;
  padding-top: 2em;
  margin: 2em 0em;
}

.skillsContainer{
  width: ;
  padding: 1em;
  display: flex;
  text-align: left;
  margin: 0px auto;
  margin: 0px auto;
  justify-content: center;
  justify-content: space-around ;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.09);
}
.skillBox{
  background: ;
  margin: 0.7em;
}
.skillBox ul{
  
}
.skillBox ul li{
  margin-bottom: 0.6em;
}