.skillsWrapper{
  background: ;
  padding: 2em;
  margin: 2em 0em;
  height: auto;
}

.skillsContainer{
  width: ;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: left !important;
  text-align: left;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.03);
}
.skillBox{
  background: ;
  margin: 0.7em;
  
}

.skillBox li{
  color: var(--text-muted);
  font-family: Arial;
  font-weight: 440;
  margin-bottom: 0.6em;
  list-style-type: ;
 /* background-image: url("/public/icons/arrow.png");*/
}

.skills_see-more{
  margin-top: 1em !important;
  position: relative;
  text-align: right;
}
.skills_see-more a{
  font-weight: 480;
  font-size: 0.9em;
  padding: 0.3em;
  border-radius: 7px;
  color: var(--secondary-color);
 /* border: 1px solid var(--secondary-color);*/
}
  