.skillsWrapper{
  background: #1C1E3D;
  padding-top: 2em;
  margin: 2em 0em;
  color: var(--light);
}

.skillsContainer{
  width: ;
  padding: 1em;
  display: flex;
  text-align: left;
  margin: 0px auto;
  margin: 0px auto;
  justify-content: center;
  justify-content: space-around ;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.09);
}
.skillBox{
  background: ;
  margin: 0.7em;
}
.skillBox ul{
  list-style-image: linear-gradient(to left bottom, red, blue);
}
.skillBox ul li{
  font-family: Arial;
  font-weight: 380;
  margin-bottom: 0.6em;
  list-style-type: none;
 /* background-image: url("/public/icons/arrow.png");*/
}

