
.topBar-container{
  top:0;
  z-index: 14;
  width: 100vw !important;
  display: flex;
  padding: 0.6em 2em;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  color: #fff !important ;
  background: var(--dark);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.01);
}

.logoWrapper{
  font-weight: 555;
  color: black;
  font-size: 2em;
}
.logoWrapper img{
  width: ;
  height: ;
}


.toggle-icons{
  width: 3em;
  font-size: 1.7em;
}
.fa-burger{
  background: ;
}


.toggleSideWrapper{
  transform: translateX(0px) !important;
}

.sideBar-wrapper{
  transform: translateX(400px);
  right: 0;
  top: 4.515em;
  width: 50vw;
  height: auto;
  text-align: left;
  position: absolute;
  background: var(--light);
  /*background: #EBEBFE;*/
  transition: all  0.3s ease-in-out;
  border-bottom-left-radius: 14px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.19);
}

.sideBar-wrapper .links-wrapper{
  display: flex;
  margin-top: 0em;
  flex-direction: column;
}

.sideBar-wrapper .link-item{
  margin: 0px 0px;
  color: var(--text-muted);
  font-weight: 555;
  padding: 1em 0em 1em 1.7em ;
  transition: background 0.2s;
  border-bottom: 0.46px solid rgba(0,0,0,0.1);
  border-bottom: 0.46px solid rgba(0,0,0,0.1);
}

.sideBar-wrapper .link-item:hover{
  /*color: #DBDBF0;*/
  background: rgba(0,0,0,0.06);
}




/*---------- Responsive ------------*/
@media (min-width:750px){
  
.topBar-container{
  padding: 1.5em 2em;
  justify-content: space-between;
  
}

.logoWrapper{
  margin-left: 1em;
  font-size: 2.4em;
  font-weight: 600;
}

.hide-sidebar-wrapper{
  width: auto;
  height: auto;
  top: 0;
}

.sideBar-wrapper{
  top: 1px;
  right: 1px;
  background: none;
  width: auto !important;
  height: auto !important;
  position: relative;
  transform: translateX(0px);
  box-shadow: none;
}

.toggle-icons{
  display: none;
}

.sideBar-wrapper .links-wrapper{
  margin-top: 0em;
  flex-direction: row;
  justify-content: space-between;
}

.sideBar-wrapper .link-item{
  width: 5em;
  margin: 0em 1.2em;
  font-weight: 444;
  font-size: 1.6em;
  border-radius: 4em;
  padding: 0.3em 0.5em;
  border: 2px solid #5F64D6;
  transition: background 0.1s;
  color: #fff;
  text-align: center;
}
.sideBar-wrapper .link-item:hover{
  background: #5F64D6;
 }

}