.postsWrapper{
  padding-bottom: 1em;
  margin: 0.5em auto;
}
.postsWrapper h4{
  text-align: left;
  margin-left: 1em;
}
.postContainer{
  width: 95%;
  display: grid ;
  margin: 1em auto;
}



/*-------Responsive-------*/
@media(min-width:750px){
 .postsWrapper{
  width: 75vw;
  }
.postContainer{
  grid-gap: 2em ;
  grid-template-columns: auto auto;
}

}

@media(min-width:975px){
  .postsWrapper{
  width: 80vw;
  }
  
.postContainer{
  grid-template-columns: auto auto auto;
}

}