
.blogPost_Container{
  margin-top: 4em;
  padding: 4em 1em;
  text-align: left;
}


.blogPost_thubmnail{
  width: 100%;
  height: 12em;
  margin: 1em 0em;
}
.blogPost_thubmnail img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.blogPost_description{
  
}