
.navBar{
  background: var(--dark);
  border-bottom: 1px solid #17183A;
}
.toggle-button{
}
.toggle-button:hover{
  background: #1E1A3F;
}

.navBar .links-wrapper{
  border-top: 1px solid #17183A;
 /* border-bottom: 1px solid cyan;*/
  margin-top: 1em;
}

#logo{
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.link{
  width: 50%;
  margin:auto;
  color: var(--green);
  background:;
  padding: 0.5em 4em;
  text-decoration: none;
/*  border-bottom: 1px solid #33D062;*/
}
.link:first-child{
  border-bottom: 1px solid var(--green);
}