
.footerWrapper{
  padding:1em;
  margin-top: 10em;
  border-top: 1px solid #1A1B40;
}
.footer-header{
  font-weight: bold;
}

.iconsWrapper{
  width: 20em;
  display: flex;
  margin: 0px auto;
  align-items: centre ;
  margin-top: 2em !important;
  justify-content: space-around ;
}

.iconsWrapper div, .iconsWrapper i{
  padding: 0.5em;
  color: var(--dark);
  border-radius: 7px;
  background: #3AFF9F;
}

.highlight-wrapper{
  margin: 3em;
  font-weight: 340;
}
.highlight{
  font-weight: 370;
  color: var(--green);
}