
.footerWrapper{
  padding:1em;
  color: var(--light);
  margin-top: 10em;
  background: var(--secondary-color);
  /*
  background: #6368BC;
  background: #1C1E3D;
  background: #1D1C51; 
  */
}
.footer-header{
  font-weight: bold;
  font-size: 2em;
}

.iconsWrapper{
  width: 20em;
  display: flex;
  margin: 0px auto;
  align-items: centre ;
  margin-top: 2em !important;
  justify-content: space-around ;
}

.iconsWrapper .social-icon {
  width: 2.9em;
  height: 2.9em;
  padding: 0.5em;
  color: ;
  border-radius: 50%;
  border: 1px solid #4C3AE3;
  background: linear-gradient(#538FFB, #5B54FA);
/*  background: linear-gradient(#00BC40,#4C3AE3);*/
}

.iconsWrapper .social-icon i{
  font-size: 1.8em;
}


.highlight-wrapper{
  margin: 3em;
  font-weight: 340;
}
.highlight{
  font-weight: 470; 
  color: #CED4FF;
}
