

*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.muted{
  color:var(--text-muted);
}

.App-parent{
  color: ;
  font-weight: 300;
  text-align: center;
}


.App-child{
/*  background: #22214E;

  background: #151531;
 */
  margin-top: 5em;
  padding-top: 1em;
}



a{
  color: #fff;
  text-decoration: none;
}
button{
  border: none;
  padding: 5px;
  font-size: 15px;
  /*color: var(--light);*/
  color: #fff;
  border-radius: 4px;
  font-weight: 390;
  background: #1A1B47;
}
button:hover{
  background: #7A82EA;
}


img{
  object-fit: cover;
}

/*---++++000000++++++-----*/
.common-green-title{
  width: 16em;
  display: flex;
  /*color: #3AFF9F;*/
  color: #9393F6;
  font-size: 14px;
  margin: 0px auto;
  align-items: center;
  font-weight: 390;
  justify-content: center;
}
.common-green-title hr{
  width: 5em;
  height: 4px;
  padding: 1px;
  margin-left: 4px;
  background: #9393F6;
}
/*---++++000000++++++-----*/


/*-----Responsive css----*/
@media(min-width:415px){
.body-half-width{
  width: 75vw;
  margin: 0px auto;
}

}

