

*{
  margin: 0px ;
  padding: 0px;
  text-decoration: none;
 
}

.muted{
  color:var(--text-muted);
}

.App-parent{
  color: ;
  font-weight: 300;
  text-align: center;
}


.App-child{
  background: ;
}



a{
  color: #fff;
  text-decoration: none;
}
button{
  border: none;
  padding: 5px;
  font-size: 11px;
  /*color: var(--light);*/
  color: #fff;
  border-radius: 4px;
  font-weight: 444;
  background: var(--secondary-color);
}
button:hover{
  color: cyan;
}


img{
  object-fit: cover;
}

/*---++++000000++++++-----*/
.common-sub-heading{
  width: auto;
  display: flex;
  /*color: #3AFF9F;*/
  color: var(--secondary-color);
  font-size: 14px;
  margin: 0px auto;
  align-items: center;
  font-weight: 440;
  justify-content: center;
}
.common-sub-heading hr{
  width: 5em;
  height: 4px;
  padding: 1px;
  margin-left: 4px;
  background: var(--secondary-color);
}
/*---++++000000++++++-----*/


/*-----Responsive css----*/
@media(min-width:415px){
.body-half-width{
  width: 75vw;
  margin: 0px auto;
}

}

