
:root{
 /* --dark: #282c34; */
  --dark:#08091E;
  --light: #EBEBFA;
  --text-muted:#BEBEEF;
  --black: black;
  --green:#57FA9F;
  --cyan:cyan;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark); 
  color: ;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
