
:root{
  --dark: #232544;
  --light: #FFFFFF;
  --text-muted:#596382;
  --black: black;
  --green:#57FA9F;
  --purple: #7A16FF;
  --secondary-color: #21AF90;
  /*--secondary-color: #4A47EC;*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light); 
  color: var(--text-muted) !important;
  overflow: none;
}

.activeBody{
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
